.employers__title {
    display: flex;

    &-name {
        width: 40%;
        margin-right: 10%;

        @include phones {
            width: 100%;
        }
    }

    &-description {
        opacity: .7;
        font-weight: 500;
        width: 50%;

        @include phones {
            width: 100%;
        }
    }

    @include phones {
        flex-direction: column;
        margin-bottom: 25px;
    }
}

.employers__content {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.employers__list {
    display: flex;
    flex-direction: column;
}

.employers__item {
    margin-bottom: rem(50px);
}

.employers__image {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: rem(50px);
}


.employers__image img {
    display: block;
    transition: 1s;

    &:hover {
        transform: scale(1.2);
        filter: brightness(0.7);
    }
}



.employers-left {
    min-width: 40%;
    margin-right: 10%;
}

.employers-right {
    min-width: 50%;
}

.employers__name {
    font-size: rem(24px);
    line-height: rem(32px);
    font-weight: bold;
    margin-bottom: rem(10px);
    color: $fontColor2;
}

.employers__description {
    opacity: .8;
}